<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OpenWeatherMap Api</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body >
   <form  action="/" method="post">
    <div class="input">
      <input type="text" name="cityName" placeholder="Enter city name">
      <button class="butn" type="Submit" name="Submit">Go</button>
    </div>

  <div class="container">
    <div class="card">
      <h1 align="center" id="name"><%= cityName%></h1><br>
      <p align="center"><%=wtemp%></p>
      <img  src="<%=wimg%>"class="imgdisplay"></img>
      <p align="center"><%= wdesc %></p>

    </div>
  </div>
</form>
</body>
</html>
