*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito",sans-serif;
  background: #66bfbf;
}

.input{
  text-align: center;
  margin: 100px auto;
}

input[type="submit"]{
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.input input[type="text"]{
  width: 50%;
  height: 50px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 10px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}

.card{
  width: 40%;
  background:#e7e7e7 ;
  height: 250px;
  margin: 50px auto;
  border-radius: 2px;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
}


.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}
.imgdisplay
{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.butn
{
   width:3%;
   height:100%
   padding:auto;

}
